body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

.catalogo {
    margin: 50px auto;
    width: 70%;
    text-align: center;
}

.catalogo-productos {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    padding: 5px;
}

.productos-carrito {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 5px;
}

.producto {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
}

.producto-img img {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 8px;
}

.producto-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.producto-price {
    font-size: 16px;
    color: #01b6eb;
    font-weight: bold;
    margin-bottom: 10px;
}

.btn-comprar, .btn-contacto, .btn-enviar {
    display: inline-block;
    padding: 8px 15px;
    background-color: #01b6eb;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
    border: 0px;
}

.btn-comprar:hover, .btn-contacto:hover, .btn-enviar:hover {
    background-color: #0056b3;
}

.btn-eliminar {
    display: inline-block;
    padding: 8px 15px;
    background-color: #eb0101;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
}

.btn-eliminar:hover {
    background-color: #b60000;
}

.btn-contacto {
    margin-top: 50px;
    font-size: 25px;
    font-weight: bold;
    padding: 12px 20px;
}

h1 {
    font-size: 250%;
}

h2 {
    font-size: 200%;
}

h1, h2 {
    color: #01b6eb;
}

h1, p {
    text-align: center;
}

div.carrito, div.home{
    position: fixed;
    top: 0px;
    right: 10px;   
}

div.img {
    width: 30%;
    overflow: hidden;
    margin: auto;
    border-radius: 20px;
}

div.img img {
    width: 100%;
}

div.carrito img, div.home img {
    margin: 10px;
    width: 50px;
}

div.total {
    width: 65%;
    margin: auto;
    margin-bottom: -20px;
    padding: 1% 3%;
    border-radius: 10px;
    text-align: right;
    font-size: 150%;
    font-weight: bold;
    color: white;
    background-color: #01b6eb;
}

span.total-compra {
    font-weight: 300;
}

textarea {
    resize: none;
    min-width: 100%;
    border: 0;
    border-top: 2px solid #01b6eb;
    border-bottom: 2px solid #01b6eb;
    border-radius: 10px;
    margin-top: 5px;
}

label {
    font-weight: bold;
}

label, b {
    color: #01b6eb;
}

form {
    width: 100%;
    margin: auto;
}

.formulario {
    margin: auto;
    background-color: white;
    width: 40%;
    padding: 2% 4% 3% 4%;
    border-radius: 10px;
}